<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
   
    <h1>URl Shortner</h1>
    <% if (locals.id){%>
    <p>URL Generated : http://localhost/url <%= id %></p>
<%}%>
    <div> 
        <form method="POST" action="/url">
            <label>Enter your original URL </label>
            <input t. ype="text" name="url" placeholder="https://example.com"/>
            <button type="submit">Generate URL</button>
        </form>
    </div>
                                                                                                           
</body>
</html>

